// place your custom styles here

.vp-blog-hero-image {
    border-radius: 999px;
}
.vp-copyright {
    white-space: pre;
}
.vp-article-cover {
    max-height: 300px;
}
.toggle-sidebar-wrapper {
    display: none;
}
html {
    --sidebar-space: 0px !important;
}